@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    box-sizing: border-box;
}

.mainbox{
    width: 540px;
    height: 960px;
    margin: 60px 625px 60px 625px;
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

/* 여기는 타이틀 */
.titlebox{
    width: 466px;
    height: 94px;
    margin : 60px 80px 0px 78px
}
.title-font{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #0068FF;
}

/* 여기는 인풋박스 */
.inputbox{
    width: 466px;
    padding-left: 80px;
}
.input-font{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #797979;
}


.box-type{
    width: 380px;
    height: 60px;
    margin-bottom: 12px;
    border: 1px solid #0068FF;
    border-radius: 7px;
}

/* 여기는 젠더선택 */
.select-gender{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.genderbox{
    width: 20px;
    height: 19px;
    background: gray;
    border : 1px solid #D2D2D2;
    margin-bottom: 2px;
}

.genderfont{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

.check__number{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone{
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
}

.line{
    margin: 7px 14px 40px 14px;
}

.check__verification{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 82px;
    margin-bottom: 20px;
}

.check__verification2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 82px;
}

.button__style{
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    margin-left: 30px;
}

.num__style{
    width: 60px;
    height: 27px;
    font-size: 18px;
    color: #0068FF;
    text-align : right;
    line-height: 40px;
}

.region__select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.region__select__font{
    width: 380px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 7px;    
    font-size: 16px;
    color: #797979;
    margin: 20px 78px 0px 78px;
}

/* 버튼스타일 */
.buttonbox{
}

.buttonstyle{
    width: 380px;
    height: 75px; 
    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin:20px 80px 50px 80px;
}



.liner{
    width: 380px;
    height: 1px;
    background: #E6E6E6;
    margin: 20px 80px 20px 80px;
}

.error{
    font-size : 5px;
    text-align: center;
    color: red;
    line-height: 8px;
}